<%- include('layout', { title: 'Home', body: `` }) %>

<style>
    .login-container {
        justify-self: center;
        max-width: 400px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; /* Add margin bottom for spacing */
    }
    .login-container h1 {
        margin-bottom: 20px;
    }
    .login-container button:hover {
        background-color: #0056b3;
    }
    .login-container .admin:hover {
        background-color: #c82333;
    }
</style>
<div class="container-fluid" style="display:grid;">
    <div class="login-container text-center">
        <h1>Welcome to Slayton’s Skincare</h1>
        <div class="d-grid gap-2">
            <a href="/signup" class="btn btn-primary" type="button" id="signup">Sign Up</a>
            <a href="/login" class="btn btn-secondary" type="button" id="login">Login</a>
        </div>
    </div>
</div>

